button {
  width: 47%;
  margin-right: 5%;
  display: inline-block;
}

button:last-child {
  margin-right: 0;
}

img {
  max-width: 100%;
}

label {
  font-size: 1.2em;
}

section p {
  padding: 0 10px;
}

#call {
  min-height: 60px;
}

#call:hover {
  background-color: #A4B4C7;
}

#call h1 {
  color: #134313;
  padding: 15px;
}

#feature {
  position: relative;
  max-height: 310px;
  overflow: hidden;
}

#feature div {
  width: 77.5%;
  margin: auto;
  position: absolute;
  left: 11.25%;
  bottom: 3.8461%;
  background-color: rgba(64, 64, 64, 0.5);
  color: #E0FEE0;
  border-radius: 5px;
}

@media screen and (min-width: 425px) {
  #about {
    margin-right: 5%;
  }

  #about, #pledge {
    width: 47.5%;
    float: left;
  }

  #call {
    font-size: 1.3333em;
  }
}

@media screen and (min-width: 650px) {
  #feature {
    max-width: 600px;
    margin: auto;
    font-size: 1.6em;
  }
}

@media screen and (min-width: 740px) {
  button {
    width: 46%;
  }

  #contact {
    width: 30%;
  }

  #content-wrap {
    width: 100%;
    min-height: 250px;
  }

  #feature {
    max-width: 100%;
    width: 83.3333%;
    position: relative;
    top: -2px;
  }

  #right-wrap {
    width: 65%;
    height: 100%;
    float: right;
  }

  #call {
    padding: .75em;
  }
}

