{% extends "base.html" %}

{% block content %}
<section id="feature" class="clear">
  <img src="/static/images/{{ destination['banner_image'] }}">
  <div>
    <h1 id="title">{{ destination['name'] }}</h1>
  </div>
</section>

<section id="body">{{ destination['copy']|safe }}</section>

<section id="tours">
  {% for t in destination['tours'] %}
  <div class="destination clearfix"><a href="{{ url_for('tour_page', tour=t['name']) }}">
    <img src="/static/images/{{ t['thumbnail'] }}">
    <h2>{{ t["name"] }}</h2>
    <p>{{ t["summary"] }}</p>
  </a></div>
  {% endfor %}
</section>
{% endblock %}