{% extends "base.html" %}

{% block content %}
    <section id="feature" class="clear">
      <img src="static/images/{{ featured_tour['banner_image'] }}">
      <a href="{{ url_for('tour_page', tour=featured_tour['name']) }}"><div>
      <h1 id="feature-title">{{ featured_tour["name"] }}</h1>
      <p id="feature-description">{{ featured_tour["summary"] }}</p>
      </div></a>
    </section>

    <div id="content-wrap" class="clearfix">
      <div id="right-wrap" class="clearfix">
        <section id="about">
          <header><h2>About</h2></header>
          <p>{{ about["value"] }}</p>
        </section>

        <section id="pledge">
          <header><h2>Our Pledge</h2></header>
          {{ pledge["value"]|safe }}
        </section>
        <a href="{{ url_for('regions_page') }}">
        <div id="call" class="clear">
          <h1>Browse our Destinations</h1>
        </div>
        </a>
      </div>

      {% block contact %}{% endblock %}
    </div>
{% endblock %}