{% extends "base.html" %}

{% block content %}
  <div id="content" class="clearfix">
    <section>
      <h1>{{ region["name"] }}</h1>
      {{ region["copy"] }}
    </section>
    <div id="destinations">
      {% for d in region["destinations"] -%}
        <div {% if d['featured'] %}id="feature" {% endif %}class="destination clearfix"><a href="{{ url_for('destination_page', location=d.name) }}">
        <img src="/static/images/logo.png" height="40" width="40">
        <h2>{{ d["name"] }}</h2>
        <p>{{ d["copy"] }}</p>
      </a></div>
    {% endfor -%}
    </div>
  </div>
{% endblock %}