{% extends "base.html" %}

{% block content %}
  <div id="top-wrap" class="clearfix">
    <a href="{{ url_for('region_page', location=regions[0]['name']) }}"><div id="mediterranean" class="destination clearfix">
      <img src="/static/images/{{ regions[0]['thumbnail'] }}">
      <h2>{{ regions[0]["name"] }}</h2>
      <p>{{ regions[0]["summary"] }}</p>
    </div></a>
    <section id="packages">
      <h1>Selected Tours</h1>
      {{ selected_tours["value"]|safe }}
    </section>
    <a href="{{ url_for('region_page', location=regions[1]['name']) }}"><div id="asia" class="destination clearfix">
      <img src="/static/images/{{ regions[1]['thumbnail'] }}">
      <h2>{{ regions[1]["name"] }}</h2>
      <p>{{ regions[1]["summary"] }}</p>
    </div></a>
  </div>

  <div id="bottom-wrap" class="clearfix">
    <section id="custom">
      <h1>Custom Tours</h1>
      {{ custom_tours["value"]|safe }}
    </section>
    {% block contact %}{% endblock %}
  </div>
{% endblock %}