{% extends "base.html" %}

{% block content %}
<section id="feature" class="clear">
      <img src="/static/images/{{ tour['banner_image']}}">
      <div>
        <h1 id="title">{{ tour["name"] }}</h1>
      </div>
    </section>
    <div id="body">
      <section id="copy">
        {{ tour["copy"]|safe }}
      </section>

      <section id="itinerary">
          {% for day in tour["itinerary"] %}
            <h1>Day {{ day['day'] }}</h1>
            <p>{{ day['summary'] }}</p>
            {% for landmark in day['landmarks'] %}
            <h2>{{ landmark['name'] }}</h2>
            <p>{{ landmark['summary'] }}</p>
            {% endfor %}
          {% endfor %}
      </section>

      <div class="clearfix">
        <table border="1">
          <caption>Prices</caption>
          {% for p in tour["prices"] %}
          <tr>
            <th>{{ p["name"] }}</th>
            <td>$ {{ p["price"] }}</td>
          </tr>
          {% endfor -%}
          <tr><td id="disclaimer" colspan="2">All prices based on double or twin occupancy. Single supplement available upon request.</td></tr>
        </table>

        {% block contact %}{% endblock %}
      </div>
    </div>
{% endblock %}